html{height:100%;}
body{height:100%;min-height:100%;font-family:helvetica,arial,sans-serif;padding:0;margin:0;position:relative;}
.tr-opacity{-webkit-transition:opacity 700ms ease;-moz-transition:opacity 700ms ease;transition:opacity 700ms ease;opacity:0;}
.tr-height{-webkit-transition:height 500ms ease;-moz-transition:height 500ms ease;transition:height 500ms ease;height:0;overflow:hidden;}
